img {
    width: 100%;
    border-radius: 15px;
    
}

.info-text {
    background-color: rgb(240, 240, 240);
}

.gallery-track {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    scroll-snap-type: x mandatory;
    padding-bottom: 2rem;
    
    
  }
  
  .gallery-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 90%;
    max-width: 800px;
   
  }