img {
    width: 100%;
    border-radius: 15px;
    
  
    
}

.info-text {
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    
}

.gallery-track {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    scroll-snap-type: x mandatory;
   
  
    
    
  }
  
  .gallery-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 80%;
    max-width: 800px;

   
  }
  h1,h2 {
    font-size: 14px;
   padding: 10px;
   
  }